body {
  background: rgb(254, 251, 251);
  background: linear-gradient(
    120deg,
    rgba(254, 251, 251, 1) 0%,
    rgba(253, 243, 244, 1) 100%
  );
  font-family: "Montserrat", -apple-system, Roboto, sans-serif, serif;
  padding: 16px;
  font-variant-numeric: lining-nums;
}

h1 {
  font-size: 48px;
}

h2 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

button {
  text-transform: lowercase;
  transition: all 100ms ease-in-out;
}

button:hover,
button:focus {
  transform: translate(-2px, -2px);
  box-shadow: 4px 4px 0px 0px silver;
  outline: none;
}

button:active {
  transform: translate(-1px, -1px);
  box-shadow: 2px 2px 0px 0px silver;
}

.skip-link {
  display: inline-block;
  transform: translate(-500px, 0);
}

.skip-link:focus {
  transform: none;
}

.card {
  text-decoration: none;
  color: black;
  display: block;
  background-color: white;
  padding: 16px 8px;
  flex-basis: 100%;
  transition: all 100ms ease-in-out;
  box-shadow: 4px 4px 0px 0px var(--accent-color);
  max-width: 700px;
}

.card:visited {
  color: #696969;
}

.card:hover,
.card:focus {
  transform: translate(-4px, -4px);
  box-shadow: 8px 8px 0px 0px var(--accent-color) !important;
  outline: none;
  color: unset;
}

.card:active {
  transform: translate(-2px, -2px);
  box-shadow: 4px 4px 0px 0px var(--accent-color) !important;
}

.tag {
  padding: 2px 4px;
  cursor: pointer;
  border: 2px solid #333;
}

.tag-action {
  background-color: lightgray;
  color: #111;
  border: 2px solid lightgray;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 96px;
  }

  .card {
    flex-basis: auto;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    padding: 96px;
  }
}
